@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: #e08701;
  --secundary-color: #04eedf;
  --text-color: #2b517d;
  --green: #a3cd39;
}

header {
  width: 100%;
  height: 90vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.menu-btn {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.menu-btn__burguer {
  width: 60px;
  height: 6px;
  background-color: var(--text-color);
  transition: ease-out 400ms;
  cursor: pointer;
  border-radius: 5px;
}

.menu-btn__burguer::before,
.menu-btn__burguer::after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 60px;
  height: 6px;
  background-color: var(--text-color);
  transition: ease-out 400ms;
}

.menu-btn__burguer::before {
  transform: translateY(-16px);
}
.menu-btn__burguer::after {
  transform: translateY(16px);
}
.menu-btn.open .menu-btn__burguer {
  transform: translateX(-60px);
  background-color: transparent;
}
.menu-btn.open .menu-btn__burguer::before{
  transform: translate(60px, 0px) rotate(-45deg);
}
.menu-btn.open .menu-btn__burguer::after {
  transform: translate(60px, 0px) rotate(45deg);
}




nav {
  z-index: 100;
  margin-top: 5px;
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 30px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

nav ul li {
  cursor: pointer;
}

nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: 400ms;
  cursor: pointer;
}

nav ul a:hover{
  color: var(--text-color);
}

nav img {
  width: 180px;
}

.bg-image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bg-image-wrapper img {
  width: 100%;
  height: 100%;
  opacity: 0.15;
  object-position: bottom;
  object-fit: cover;
}

.header-image-wrapper {
  position: absolute;
  width: 670px;
  height: 670px;
  overflow: hidden;
  bottom: -230px;
  left: -230px;
  border-radius: 1000px;
  border: 1px solid white;
  background-color: black;
  z-index: 1;
}

.header-image-wrapper img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.header-content {
  z-index: 100;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.page-title {
  font-size: 3.5rem;
  text-shadow: 2px 2px 5px black;
  margin-bottom: 20px;
}

.page-subtitle {
  font-size: 1.5rem;
  text-shadow: 0.5px 0.5px 3px black;
  margin-bottom: 15px;
}

.header-content span {
  text-shadow: 0.5px 0.5px 3px black;
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.header-content button {
  margin-top: 100px;
  background-color: var(--secundary-color);
  width: 500px;
  text-transform: uppercase;
  font-size: 1.7rem;
  padding: 15px 0;
  font-weight: bolder;
  color: white;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 3px black;
  text-shadow: 0.5px 0.5px 3px black;
  cursor: pointer;
  transition: 400ms;
}

.header-content button:hover {
  background-color: #e02201;
}





@media (max-width: 950px) {
  .header-content {
    width: 95%;
  }
}

@media (max-width: 730px) {
  header {
    min-height: 100vh;
    height: max-content;
  }
  nav {
    margin: 0;
    display: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    justify-content: flex-start;
    top: 0;
    right: -320px;
    z-index: 150;
    width: 320px;
    height: 100vh;
    background-color: #ffffff;
    transition: all ease-out 400ms;
  }

  nav img {
    width: 280px;
  }

  nav ul {
    margin-top: 100px;
    flex-direction: column;
    gap: 20px;
  }

  nav ul a{
    font-size: 2rem;
    color: var(--text-color);
  }

  nav.mobile-menu {
    right: 0;
  }



  .menu-btn{
    display: flex;
  }
  .header-content {
    margin-top: 80px;
  }
}


@media (max-width: 600px) {

  .page-title {
    font-size: 3rem;
  }
  .page-subtitle {
    font-size: 1.4rem;
  }

  .header-content button {
    font-size: 1.7rem;
    width: 340px;
  }
}
