@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: #04eedf;
    --secundary-color: #f19a00;
    --text-color: #2b517d;
    --neutral-color: rgb(166, 212, 199);
}

body {
    width: 100%;
}


header {
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    background-color: var(--primary-color);
    position: relative;
}

.fixed-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
    border-bottom: 2px solid var(--secundary-color);
}


nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
}






.banner-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .85 ;
}



